# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Anthropic AI (Claude)
GROQ_API_KEY="ur key here nIcLv"

# App Config
NEXT_PUBLIC_APP_NAME="GTTI Smart Portal"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_INSTITUTE_NAME="Government Technical Training Institute"
NEXT_PUBLIC_INSTITUTE_SHORT="GTTI D.G. Khan"
